
body{

}
#wrapper{
  width:960px;
  margin:auto;
 background-image: url(https://cdn.discordapp.com/attachments/440941008545644547/502350348321554432/cr_meme.png);
background-position: fixed,center;
background-repeat: no-repeat;

}
header{


  text-align: center;
}
li{
  text-decoration-style: none;
}
ul{

}
button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}
